*conflicted*
glew.h
glfw.h
glfw3.h
examples/shearing_sheet/tmp/*
examples/restarting_simulation/data/
#Makefile@
*/#*
.#*
#*
*~
*.o
*.a
*.bin
*.binall
*.out
*.ascii
nbody*
gravity.c
boundaries.c
integrator.c
collisions.c
src/problem.c
.DS_Store
error.txt
tests/testall.html
tests/*/*.txt
tests/*/*.png
tests/*/nbody*
doc/html/*
doc/latex/*
doc/Doxyfile
